/* 







WOO CUSTOM STYLESHEET











---------------------































Instructions:































Add your custom styles here instead of style.css so it 















is easier to update the theme.































You need to use .custom before every style e.g. 































.custom a {color:#555555;}















.custom #tabs {background:#000000;width:460px}































*/











.custom .container_17 {















	margin-left: auto;















	margin-right: auto;















	width: 700px;















	}















.custom .grid_4 {















	margin-left: 5px;















	margin-right: 5px;















	display: inline;















	float: left;















}































.custom .grid_4_right {















	margin-left: 5px;















	margin-right: 5px;















	display: inline;















	float: right;















	width: 220px;















}















.custom .grid_3 {










    margin: 0 5px 5px 5px;















	display: inline;















	float: left;















}































.custom .grid_12 {















	display: inline;















	float: left;















	margin: 0;















	}































.custom .grid_18 {















	display: inline;















	float: left;















	padding: 5px;















	padding-top: 10px;















	margin-top: 5px;



















	}















	















.custom .grid_5 {















	display: inline;















	float: left;















	margin: 0;















}































.custom .container_16 .grid_18  {















	width: 720px;















}































.custom .container_16 .grid_19  {















	width: 690px;















}































.custom .container_16 .grid_3 {















	width: 160px;















}































.custom .container_16 .grid_17 {















	width: 220px;

    padding-right: 0;













}































.custom #featured {















	background-color: #fff;















	background-image: none;















}































.custom .featured_text h2 a {















	color: #fff; !important;















	font-family: Georgia, "Times New Roman", Times, serif;















	font-size: 1.3em;















	font-weight:normal;















}































.custom .featured_text p {















	color:#fff; !important;















}































.custom .featured_text {















	color:#333; !important;















	font-size: 0.9em;















}































.custom .gamma {















	float:right;















	padding-right: 0;















}































.custom .pi {















	float:left;















}































.custom .slider {















	width: 690px;















	height: 320px; 















}























.custom .query-box {











        margin-top: 0;



	margin-bottom: 10px;















	padding: 10px;



















        font-size: .9em;















	}















.custom .queryposts {















	margin-bottom: 10px;















	padding: 10px;















	border: 1px solid #f47c2f;















        font-size: .9em;















	}























.custom .hero .archives {















	border-bottom: 1px solid #CCCCCC;















	padding-top: 20px;















}































.custom .hero img, .query-box img {















	padding: 3px;















	float:left;















	margin-right: 5px;















	margin-bottom: 2px;















	border: 1px solid #CCCCCC;















	}































.custom .hero .name {





















	font-weight: bold;















	padding-bottom: 5px;















	padding-top: 5px;















	}































.custom .hero h2 { 















        color: #333;















}































.custom .hero h2 a { 















        color: #333;















}















 















.custom .expert {















	margin-bottom: 10px;















	padding: 10px;















	border: 1px solid #b2bb1e;







}























.custom .expert .label















{















width: 4em;















float: left;















text-align: right;















margin-right: 0.9em;















display: block















}































.expert .submit input















{















margin-left: 4.5em;















}































.custom .expert .input















{















color: #781351;















background: #fee3ad;















border: 1px solid #781351;















}































.custom .expert .submit input















{















color: #000;















background: #ffa20f;















border: 2px outset #d7b9c9;















}































.custom .expert .fieldset















{















border: 1px solid #781351;















width: 20em;















}































.custom .expert .legend















{















color: #fff;















background: #ffa20c;















border: 1px solid #781351;















padding: 2px 6px;















} 































.custom .the_menu ul.children li a:hover{















	color: #FFCC00;















	background: none;















}































.custom #text-6 h3{















	background-color: #f47c2f;















	border: 1px solid #f47c2f;















	color: #fff;















	padding-left: 5px;















}































.custom #text-7 h3{















	background-color: #b2bb1e;















	border: 1px solid #b2bb1e;















	color: #fff;















	padding-left: 5px;















}





























































































.custom .cat_description {















	border-bottom: 1px solid #e4e4e4;















	padding-top: 0;















	padding-left: 20px;















	padding-right: 40px;















	padding-bottom: 10px;















	margin-bottom: 30px;















	font-size: 1.3em;















	}















































.custom #recent-posts-3 {
	margin-bottom: 20px;
	}



.custom #recent-posts-3 h3 {
	background: #addfe8;
	padding: 5px;
	}

.custom #recent-posts-3 ul li {
	border: 1px solid #addfe8;
	background: #fff;
        font-size: 0.5em;
	}















	















.custom #widget {















	margin-bottom: 20px;







	border: 2px solid #addfe8;




	}















.custom #widget img {



      padding: 1px;



      border: 1px solid #ccc;



      clear: both;



      float: left;



      margin-right: 5px;



}







.custom #widget h3 {















	background: #addfe8;















	padding-left: 5px;















	padding-top: 7px;















	padding-bottom: 7px;















	margin-bottom: 5px;















	}







.custom #widget ul li {



    border-bottom: 1px solid #ccc;



	margin-top: 0;



	padding: 10px;



	display:block;



    height: 55px;

       font-size: .9em;

    margin-bottom: 0;



	}







.custom #widget ul {



	margin-bottom: 0;



	}







.custom #linkcat-2  {















	margin-bottom: 20px;







	border: 2px solid #addfe8;







	}















.custom #linkcat-2  img {



      padding: 1px;



      border: 1px solid #ccc;



      clear: both;



      float: left;



      margin-right: 5px;



}







.custom #linkcat-2 h3 {















	background: #addfe8;















	padding-left: 5px;
















	padding-top: 7px;















	padding-bottom: 7px;















	margin-bottom: 5px;















	}











.custom #linkcat-2 ul li {



        border-bottom: 1px solid #ccc;



	padding: 10px;



	display:block;



        margin-bottom: 0;



        background-color: #fff;



        height: 45px;



	}







.custom #linkcat-2 ul {



        margin-bottom: 0;



        }







.custom #query-posts-7, #query-posts-4  {












padding: 5px;


	margin-bottom: 20px;







	border: 2px solid #f47c2f;







	}















.custom #query-posts-7  img, #query-posts-4 img {



      padding: 1px;



      border: 1px solid #ccc;



      clear: both;



      float: left;



      margin-right: 5px;



}







.custom #query-posts-7 h3, #query-posts-4 h3 {















	background: #f47c2f;



	color: #fff;















	padding-left: 5px;















	padding-top: 7px;















	padding-bottom: 7px;















	margin: -5px -5px 5px -5px;















	}











.custom #query-posts-7 ul li, #query-posts-4 ul li {



        border-bottom: 1px solid #ccc;



	margin-top: 0;



	padding: 10px;



	display:block;



        margin-bottom: 0;



        background-color: #fff;



	}










.custom #text-3  {
	margin-bottom: 20px;
	border: none;
        color: #ffffff;
        padding: 10px 10px 1px 10px;
        background: #b2bb1e;
        -moz-border-radius: 5px;
	}

.custom #text-3 h3 {
       color: #fff;
       text-shadow:0.1em 0.01em #666;
}
.custom #text-3 h4 a {
       color: #fff;
       text-shadow:0.1em 0.01em #666;
       font-family: font-family:Georgia,"Times New Roman",Times,serif;
}


#text-3-link { 
	position: absolute; 
     	width: 220px;
        height: 90px;
        background-color: transparent;  
}
























.custom #recent-posts {















	margin-bottom: 20px;



       



	border: 2px solid #addfe8;











	}







.custom #recent-posts img {



      padding: 1px;



      border: 1px solid #ccc;



      clear: both;



      float: left;



      margin-right: 5px;



}







.custom #recent-posts h3 {















	background: #addfe8;















	padding-left: 5px;















	padding-top: 7px;















	padding-bottom: 7px;















	margin-bottom: 5px;















	}















.custom #recent-posts ul {



    margin-bottom: 0;



	}















.custom #recent-posts ul li {

	border-bottom: 1px solid #ccc;



	margin-top: 0;



	padding: 10px;



	display:block;



    height: 55px;



    margin-bottom: 0;

	background-color: #fff;

        font-size: 0.9em;

	}



















.custom #about p {















	padding: 0;















	margin-bottom: 0;















	font-family: Georgia, "Times New Roman", Times, serif;















	}































.custom #about .more a {















	font-family: Verdana, Arial, Helvetica, sans-serif;















	font-size: .7em;















	color: #006699;















	padding: 0;















	margin: 0;















	}













.custom #more a {















	font-family: Verdana, Arial, Helvetica, sans-serif;















	font-size: 1.2em;















	color: #006699;















	padding: 0;















	margin: 0;















	}







.custom #more a:hover {















	text-decoration: underline;















	}







.custom #about .more a:hover {















	text-decoration: underline;















	}































.custom .expert .more a {















	font-family: Verdana, Arial, Helvetica, sans-serif;















	font-size: .9em;















	color: #006699;















	padding: 0;















	margin: 0;















	}































.custom .hero .more a {















	font-family: Verdana, Arial, Helvetica, sans-serif;















	font-size: .9em;















	color: #006699;















	padding: 0;















	margin: 0;















	}







.custom .container_blog {



	display: inline;



	float: left;




	padding: 10px 0 0px 0;



	margin-left: 25px;



	margin-top: 5px;



}







.custom #main {



	margin:0;



	float: left;



	}


.custom .contact_coolpeople {
padding: 10px;
border: 1px solid #ccc;
background-color: #f6f6f6;
margin-bottom: 20px;
}

.custom .expert_item {
	margin-bottom: 20px;
	}

.custom .expert_item p{
	padding-left: 5px;
	}

.custom .expert_item img {
	padding: 3px;
	border: 1px solid #ccc;
	float:left;
        margin-top: 7px;
	}
.custom .expert_post {
        margin: 20px 0;
        padding: 20px;
	border-top: 1px solid #ccc;
        font-size: .9em;
}

.custom .expert_post img {
	padding: 3px;
	border: 1px solid #ccc;
	float:left;
        margin-right: 5px;
	}