body {
	color: #333333;
	background-color: #32424e;
	background-image: url(dark_blue/bg.jpg);
	background-repeat: repeat-x;
}

a, a:link, a:visited {
	color:#111d27;
}

a:hover, a:active, a.active {
	color:#32424e;
}

ul#nav li.page_item a:hover, ul#nav li.current_page_item a {
	color:#abd1e1;
}

#header {
	background:transparent url(dark_blue/bg-header.jpg) no-repeat scroll 0 0 !important;
}

.menu_class {
	border:1px solid #08121a;
}

.the_menu li {
	background-color:#111d27;
	border-top:1px solid #08121a;
}

.the_menu ul.children li {
	background-color:#2b4255;
}

.the_menu li a:hover {
	color: #cde5ef;
}

#content {
	background: url(dark_blue/bg-content.png);
}

#featured {
	background:transparent url(dark_blue/featured_bg.jpg) no-repeat scroll 0 0;
	background-color:#dddddd;
}

.featured_text h2 a {
	color:#333333 !important;
}

.featured_text p {
	color:#666666 !important;
}

ul#showcase li a:hover, ul#showcase li a.active {
	border:1px solid #0091D5;
}

div#about {
	background-color:#111d27;
}

#about .about_image {
	border:1px solid #ffffff !important;
}

#about .about_button {
	background-color:#32424e;
	border:1px solid #506879;
	color:#ffffff;
}

#about a.about_button:hover {
	border:1px solid #6a7065;
	background-color:#ffffff;
	color:#6a7065;
}

#slider_nav {
	background-color:#111d27;
}

#home #albums {
	background-color:#d3dfe8;
}

#albums .entry {
	background-color:#32424e !important;
	color:#EEEEEE;
}

#home #albums p.category a {
	background-color:#32424e !important;
}

	#home #albums p.category a:hover {
		background-color:#111d27;
	}

#commentform #submit {
	background-color:#32424e;
	border:1px solid #3B5A68;
	color:#FFFFFF;
}

#blog .box, .archive_options, .widget ul li, .flickr .flickr_photos, #wp-calendar, #wp-calendar caption, form#newsletter {
	background-color:#d3dfe8;
	border:1px dotted #abd1e1;
}

.widget ul {border-bottom: 1px dotted #abd1e1;}

#wp-calendar {
	color:#333333;
}

#footerWrap ul li.clickready.hover {
	border: 1px solid #2ba2e1;
}

#wp-calendar caption {
	background: #111d27;
	color: #fff;
}

.credits, .credits a {
	color:#d3dfe8 !important;
}

