body {
	color: #333333;
	background-color: #6a0202;
	background-image: url(red/bg.jpg);
	background-repeat: repeat-x;
}

a, a:link, a:visited {
	color:#500000;
}

a:hover, a:active, a.active {
	color:#d10000;
}

ul#nav li.page_item a:hover, ul#nav li.current_page_item a {
	color:#f0adae;
}

#header {
	background:transparent url(red/bg-header.jpg) no-repeat scroll 0 0 !important;
}

.menu_class {
	border:1px solid #143d06;
}

.the_menu li {
	background-color:#500000;
	border-top:1px solid #380000;
}

.the_menu ul.children li {
	background-color:#7e0b0b;
}

.the_menu li a:hover {
	color: #f0adae;
}

#content {
	background: url(red/bg-content.png);
}

#featured {
	background:transparent url(red/featured_bg.jpg) no-repeat scroll 0 0;
	background-color:#f5ceb0;
}

.featured_text h2 a {
	color:#2f1500;
}

ul#showcase li a:hover, ul#showcase li a.active {
	border:1px solid #0091D5;
}

div#about {
	background-color:#500000;
}

#about .about_image {
	border:1px solid #ffffff;
}

#about .about_button {
	background-color:#6a0202;
	border:1px solid #500000;
	color:#ffffff;
}

#about a.about_button:hover {
	border:1px solid #6a7065;
	background-color:#ffffff;
	color:#6a7065;
}

#slider_nav {
	background-color:#500000;
}

#home #albums {
	background-color:#f0adae;
}

#albums .entry {
	background-color:#6a0202;
	color:#EEEEEE;
}

#home #albums p.category a {
	background-color:#6a0202;
}

	#home #albums p.category a:hover {
		background-color:#500000;
	}

#commentform #submit {
	background-color:#6a0202;
	border:1px solid #500000;
	color:#FFFFFF;
}

#blog .box, .archive_options, .widget ul li, .flickr .flickr_photos, #wp-calendar, #wp-calendar caption, form#newsletter {
	background-color:#ffdede;
	border:1px dotted #f0adae;
}

ul.news li img {
	border:1px dotted #aee19d;
}

.widget ul {border-bottom: 1px dotted #4d2a0e;}

#wp-calendar {
	color:#333333;
}

#footerWrap ul li.clickready.hover {
	border: 1px solid #2ba2e1;
}

#wp-calendar caption {
	background: #6a0202;
	color: #fff;
}

.credits, .credits a {
	color:#f0adae;
}

